# Visual Studio Extension
[Rr]elease/
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.sln.docstates
*.vspscc
*.vssscc
.vspx
*.vsix
*.sln.metaproj
*.sln.ide/

# Build results
[Dd]ebug/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/

# Visual Studio cache/options
.vs/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
